@{
    ViewData["Title"] = "Menu Management";
}
<h2>@ViewData["Title"].</h2>

<div class="row">
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Menu Mangement</h3>
            </div>
            <div class="box-body">
                <div id="treeDiv" class="portlet-body">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Menu List</h3>
                <div class="pull-right box-tools">
                    <button id="btnAddRoot" class="btn btn-primary" type="button" data-original-title="New Root" data-toggle="tooltip" data-widget="">
                        <i class="fa fa-plus-square"></i>&nbsp;&nbsp;New Root
                    </button>
                    <button id="btnAdd" title="" class="btn btn-primary" type="button" data-original-title="New" data-toggle="tooltip" data-widget="">
                        <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;New
                    </button>
                    <button id="btnDelete" title="" class="btn btn-danger" type="button" data-original-title="Delete" data-toggle="tooltip" data-widget="">
                        <i class="fa fa-times"></i>&nbsp;&nbsp;Delete
                    </button>
                    <button id="btnLoadRoot" title="" class="btn btn-success" type="button" data-original-title="Load Root" data-toggle="tooltip" data-widget="">
                        <i class="fa fa-list"></i>&nbsp;&nbsp;Load Root
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="sample_2_info">
                        <thead>
                            <tr role="row">
                                <th class="table-checkbox" style="width:40px;text-align:center;"><input id="checkAll" class="group-checkable" type="checkbox"></th>
                                <th tabindex="0" aria-label="">
                                    Name
                                </th>
                                <th tabindex="0" aria-label="">
                                    Code
                                </th>
                                <th tabindex="0" aria-label="">
                                    Path
                                </th>
                                <th tabindex="0" aria-label="">
                                    Type
                                </th>
                                <th tabindex="0" aria-label="">
                                    Description
                                </th>
                                <th tabindex="0" style="width: 230px;" aria-label="">
                                    Operations
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tableBody"></tbody>
                    </table>
                    <div class="paging-toolbar">
                        <ul id="grid_paging_part"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_Edit")
@section scripts{
    <script src="~/lib/jstree/dist/jstree.js"></script>
    <script src="~/js/backend-menu-index.js"></script>
}


