@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<address>
    One Microsoft Way<br />
    Wuxi, Jiangsu 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
<address>
    <strong>Support:</strong> <a href="mailto:sgwzxg@hotmail.com">sgwzxg@hotmail.com</a>
</address>

<div id="editor">
    hello!
</div>
@section scripts{
    <script src="~/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.editorConfig = function (config) {
            config.language = 'es';
            config.uiColor = '#F7B42C';
            config.height = 300;
            config.toolbarCanCollapse = true;
        };

        var editor = CKEDITOR.replace('editor');
      
    </script>
}
