@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Ixy.Core.Identity.IxyUser>
@{
    ViewBag.Title = "User Manager";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>UserName</td>
                <td>Email</td>
                <td>EmailConfirmed</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.EmailConfirmed</td>
                </tr>
            }
        </tbody>
    </table>
</div>